*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1, h2{
    color: rgba(64, 163, 163, 0.829);
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    font-size: 25px;
    margin-bottom: 10px;
}

p{
    text-align: justify;
}

.main-text{
    text-align: justify;
    margin-bottom: 20px;
}

.author-text{
    font-size: 22px;
    float:left;
    margin-left: 15px;
    margin-top: 30px;
}

.container{
    width: 1140px;
    margin-right: auto;
    margin-left:auto;
    margin-top:20px;
}

.blog-posts{
    width:75%;
    float: left;
    padding-right:30px;
    position: relative;
}

.other-posts{

    width:25%;
    float: left;
}

.author-posts{
    border-top: 1px solid #808080;
    padding-top:20px;
    
    
}

.clear-fix:after{
    content:'';
    display:table;
    clear:both;
}


.other{
    margin-bottom: 40px;
}

.author-posts img{
    height:100px;
    width:auto;
    border-radius:50%;
    float:left;
}

.blog-posts img{
    height:150px;
    width: auto;
}

.date{
    position: absolute;
    top:10px;
    right:25px;
}


/* box-model

    Margin   ==> outer space
    Padding  ==> inner space between box and  content
    Content  ==> inside the box eg text, image,links
    Border   ==> border of the box

*/

/* Inline and block elements
        block ===>  get the full browser width; h and p
        inline ==> get the element size; img, links, strong, em; we can set thir height or width

*/